{% extends 'layout.html' %}

{% block body %}
  <h1>About VerbNoun Portal</h1>
  <p>VerbNoun Portal allows you to compare the modern technology tools of SDN, IaaS and DevOps by the Business, Technical and Governance requirements and optimally select them for projects of Xentaurs</p>
  <hr>
  <div class="container" align="left">
  	{% if session['role'] == 'admin' %}
  	<h4>Download Guide:</h4>
		<a href="/return-files/VerbNoun_Admin_Guide.pdf"><button class='btn btn-violet'>&#x02913; Download</button></a>
	{% endif %}
	{% if session['role'] == 'employee' %}
	<h4>Download Guide:</h4>
		<a href="/return-files/VerbNoun_Employee_Guide.pdf"><button class='btn btn-violet'>&#x02913; Download</button></a>
	{% endif %}
	{% if session['role'] == 'client' %}
	<h4>Download Guide:</h4>
		<a href="/return-files/VerbNoun_Client_Guide.pdf"><button class='btn btn-violet'>&#x02913; Download</button></a>
	{% endif %}
   </div>
{% endblock %}
