{% extends 'layout.html' %}

{% block body %}
<style>
.btn-primary {
  color: #fff;
  background-color: #906bae;
  border-color: #694884;
}

.btn-primary:hover {
  color: #fff;
  background-color: #765194;
  border-color: #5c3f73;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #765194;
  box-shadow: 0 0 0 0.2rem rgba(144, 107, 174, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #906bae;
  border-color: #4f3663;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4f3663;
  border-color: #4f3663;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: #765194;
  box-shadow: 0 0 0 0.2rem rgba(144, 107, 174, 0.5);
}
td{
  padding-right: 30px;
  padding-top: 5px;
}
</style>
<script>
  window.onload = function() {
    var reqTable = document.getElementById("reqTable");
    var reqList = JSON.parse('{{ reqJSON | safe}}');
    for (i = 0; i < reqList.length; i++) {
      var row = reqTable.insertRow(i);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = '<input type="text" name="country" value="' + reqList[i] + '" style="width:500px;"</input>';
      cell2.innerHTML = '<button class="btn btn-primary" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
    }
  }

  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("reqTable").deleteRow(i);
  }

  function addRow() {
    var reqTable = document.getElementById("reqTable");
    var newReq = document.getElementById("newReq").value;
    if (newReq.trim() != '') {
      //var rows = reqTable.getElementsByTagName("tr").length;
      var row = reqTable.insertRow(0);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = '<input type="text" name="country" value="' + newReq + '" style="width:500px;"</input>';
      cell2.innerHTML = '<button class="btn btn-primary" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
    }
  }

  function addRequirements() {
    console.log("Add requirements");
    var submitObj = [];
    var reqTable = document.getElementById("reqTable");
    for (i=0; i < reqTable.rows.length-1; i++) {
      submitObj.push(reqTable.rows[i].cells[0].innerHTML);
    }
    var body = JSON.stringify(submitObj);

    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/add_breqs",
      data: body,
      success: function (data) {
        console.log(data.title);
        //console.log(data.article);
      },
      dataType: "json"
    });

    //window.location = "add_requirement_w4/" + body;
    //location.href = "http://178.63.57.162:8081/add_requirement_w4/" + body;
  }  
</script>
    <h2>{{ session['customer'] }} </h2>
    <p><font size="3">Select customer and category > Select components > </font><font size="5"> Step 3. Select Business requirements</font></p>
    <a class="btn btn-primary btn-right" style="width: 200px" href="javascript:history.back()">< Back</a>
    <table>
      <tr>
        <td><input id="newReq" type="text" style="width: 500px"></input></td>
        <td><button class="btn btn-primary" style="width: 75px" onclick="addRow()">Add</button></td>
      </tr>
    </table>
    <form>
      <table id="reqTable">
      </table>
      <!--<p class="text-right"><input class="btn btn-primary btn-right" type="submit" value="Next &gt"></p>-->
    </form>
    <p class="text-right"><button class="btn btn-primary btn-right" onclick="addRequirements()">Next &gt</button></p>
    <!--<p class="text-right"><form onsubmit=";return false"></form></p>-->
{% endblock %}
