{% extends 'layout.html' %}

{% block body %}
<script>

  $(document).on("focus keyup", "input.autocomplete", function() {
    // Cache useful selectors
    var $input = $(this);
    var $dropdown = $input.next("ul.dropdown-menu");
    
    // Create the no matches entry if it does not exists yet
    if (!$dropdown.data("containsNoMatchesEntry")) {
        $("input.autocomplete + ul.dropdown-menu").append('<li class="no-matches hidden"><a>No matches</a></li>');
        $dropdown.data("containsNoMatchesEntry", true);
    }
    
    // Show only matching values
    $dropdown.find("li:not(.no-matches)").each(function(key, li) {
        var $li = $(li);
        $li[new RegExp($input.val(), "i").exec($li.text()) ? "removeClass" : "addClass"]("hidden");
    });
    
    // Show a specific entry if we have no matches
    $dropdown.find("li.no-matches")[$dropdown.find("li:not(.no-matches):not(.hidden)").length > 0 ? "addClass" : "removeClass"]("hidden");
});

$(document).on("click", "input.autocomplete + ul.dropdown-menu li", function(e) {
    // Prevent any action on the window location
    e.preventDefault();
    
    // Cache useful selectors
    $li = $(this);
    $input = $li.parent("ul").prev("input");
    
    // Update input text with selected entry
    if (!$li.is(".no-matches")) {
        $input.val($li.text());
    }
});

  function fillBySaved(arr) {
    for (i = 1; i < arr.length; i++) {
        var row = reqTable.insertRow(i-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = arr[i];
        cell2.innerHTML = '<button class="btn btn-violet" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
      }
      var row = reqTable.insertRow(arr.length-1);
      row.setAttribute("id", "addRow");
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      /*cell1.innerHTML = '<input id="newReq" type="text" style="width: 400px"></input>'
      cell2.innerHTML = '<button class="btn btn-violet" style="width: 75px" onclick="addRow()">Add</button>';*/

      var reqList = null;
      var dropdown_reqs = "";
      try {
        reqList = JSON.parse('{{ reqJSON | safe}}');
        for (var i = 0; i < reqList.length; i++) {
          dropdown_reqs += "<li><a>" + reqList[i] + "</a></li>";
        }
      } catch (err) {}
     cell1.innerHTML = `<form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-9">
                <input type="text" class="autocomplete form-control" id="newReq" data-toggle="dropdown" />
                <ul class="dropdown-menu" role="menu">` + dropdown_reqs + `</ul>
        </div>
      </div>`
      cell2.innerHTML = '<button class="btn btn-violet" style="width: 75px" onclick="addRow()">Add</button>';
  }

  window.onload = function() {
    var reqTable = document.getElementById("reqTable");
    var reqList = JSON.parse('{{ reqJSON | safe }}');
    var treqs = null;
    var dropdown_reqs = "";
    try {
      treqs = JSON.parse('{{ project_treqs | safe }}');
    } catch (err) {}

    if (treqs != null) {
      fillBySaved(treqs);
    } else {
      for (var i = 0; i < reqList.length; i++) {
        dropdown_reqs += "<li><a>" + reqList[i] + "</a></li>";
      }
      for (i = 0; i < reqList.length; i++) {
        var row = reqTable.insertRow(i);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = reqList[i];
        cell2.innerHTML = '<button class="btn btn-violet" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
      }
      var row = reqTable.insertRow(reqList.length);
      row.setAttribute("id", "addRow");
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      /*cell1.innerHTML = '<input id="newReq" type="text" style="width: 400px"></input>'
      cell2.innerHTML = '<button class="btn btn-violet" style="width: 75px" onclick="addRow()">Add</button>';*/
      cell1.innerHTML = `<form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-9">
                <input type="text" class="autocomplete form-control" id="newReq" data-toggle="dropdown" />
                <ul class="dropdown-menu" role="menu">` + dropdown_reqs + `</ul>
        </div>
      </div>`
      cell2.innerHTML = '<button class="btn btn-violet" style="width: 75px" onclick="addRow()">Add</button>';
    }
  }

  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("reqTable").deleteRow(i);
  }

  function addRow() {
    var reqTable = document.getElementById("reqTable");
    var newReq = document.getElementById("newReq").value;
    if (newReq.trim() != '') {
      var rows = reqTable.getElementsByTagName("tr").length;
      var row = reqTable.insertRow(rows-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = newReq;
      cell2.innerHTML = '<button class="btn btn-violet" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
    }
    document.getElementById("newReq").value = "";
  }

  function addRequirements() {
    var submitObj = [];
    var reqTable = document.getElementById("reqTable");
    submitObj.push("Technical requirements");
    for (i=0; i < reqTable.rows.length-1; i++) {
      submitObj.push(reqTable.rows[i].cells[0].innerHTML.toString());
    }
    var body = JSON.stringify(submitObj);
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.ajax({
      type: "POST",
        headers: {"Content-Type": "application/json"},
          url: $SCRIPT_ROOT + "/article_add_wizard_4",
          data: body,
          success: function(response) {
              //console.log(response);
              window.location = "article_add_wizard_5";
            },
            error: function(response, error) {
                console.log(response);
                console.log(error);
              }
          });
    return false;
  }  
</script>
    <h2>{{ session['customer'] }} </h2>
    <p><font size="3">Select customer > Select products > Select Business requirements > </font><font size="5"> Step 4. Select Technical requirements</font></p>
    <a class="btn btn-violet btn-right" style="width: 200px" href="/article_add_wizard_3">< Back</a>
    <table id="reqTable" class="table">
    </table>
    <div style="margin-top: 20px; padding-bottom: 100px;">
        <div style="float: left;"><a class="btn btn-violet btn-right" style="width: 200px" href="/article_add_wizard_3">< Back</a></div>
        <div style="float: right;"><button class="btn btn-violet btn-right" style="width: 200px" type="button" onclick="addRequirements();false;" value="Next &gt">Next &gt</button></div>
      </div>
{% endblock %}
