{% extends 'layout.html' %}

{% block body %}
<script>
  function fillBySaved(arr) {
    for (i = 1; i < arr.length; i++) {
        var row = reqTable.insertRow(i-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = arr[i];
        cell2.innerHTML = '<button class="btn btn-violet" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
      }
      var row = reqTable.insertRow(arr.length-1);
      row.setAttribute("id", "addRow");
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = '<input id="newReq" type="text" style="width: 400px"></input>'
      cell2.innerHTML = '<button class="btn btn-violet" style="width: 75px" onclick="addRow()">Add</button>';
  }

  window.onload = function() {
    var reqTable = document.getElementById("reqTable");
    var breqs = null;
    try {
      breqs = JSON.parse('{{ project_breqs | safe }}');
    } catch (err) {}

    if (breqs != null) {
      fillBySaved(breqs);
    } else {
      var reqList = JSON.parse('{{ reqJSON | safe}}');
      for (i = 0; i < reqList.length; i++) {
        var row = reqTable.insertRow(i);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = reqList[i];
        cell2.innerHTML = '<button class="btn btn-violet" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
      }
      var row = reqTable.insertRow(reqList.length);
      row.setAttribute("id", "addRow");
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = '<input id="newReq" type="text" style="width: 400px"></input>'
      cell2.innerHTML = '<button class="btn btn-violet" style="width: 75px" onclick="addRow()">Add</button>';
      }
  }

  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("reqTable").deleteRow(i);
  }

  function addRow() {
    var reqTable = document.getElementById("reqTable");
    var newReq = document.getElementById("newReq").value;
    if (newReq.trim() != '') {
      var rows = reqTable.getElementsByTagName("tr").length;
      var row = reqTable.insertRow(rows-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = newReq;
      cell2.innerHTML = '<button class="btn btn-violet" onclick="deleteRow(this)" style="width: 75px">Remove</button>';
    }
    document.getElementById("newReq").value = "";
  }

  function addRequirements() {
    var submitObj = [];
    var reqTable = document.getElementById("reqTable");
    submitObj.push("Business requirements");
    for (i=0; i < reqTable.rows.length-1; i++) {
      submitObj.push(reqTable.rows[i].cells[0].innerHTML);
    }
    var body = JSON.stringify(submitObj);

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.ajax({
      type: "POST",
        headers: {"Content-Type": "application/json"},
          url: $SCRIPT_ROOT + "/article_add_wizard_3",
          data: body,
          success: function(response) {
              //console.log(response);
              window.location = "article_add_wizard_4";
            },
            error: function(response, error) {
                console.log(response);
                console.log(error);
              }
          });
    return false;
  }  
</script>
  <header>{{ JSGlue.include() }}</header>
    <h2>{{ session['customer'] }} </h2>
    <p><font size="3">Select customer > Select products > </font><font size="5"> Step 3. Select Business requirements</font></p>
    <a class="btn btn-violet btn-right" style="width: 200px" href="/article_add_wizard_2">< Back</a>
    <table id="reqTable" class="table">
    </table>
    <div style="margin-top: 20px; padding-bottom: 100px;">
        <div style="float: left;"><a class="btn btn-violet btn-right" style="width: 200px" href="/article_add_wizard_2">< Back</a></div>
        <div style="float: right;"><button class="btn btn-violet btn-right" style="width: 200px" type="button" onclick="addRequirements();false;" value="Next &gt">Next &gt</button></div>
      </div>
{% endblock %}
