{% extends 'layout.html' %}

{% block body %}
<script>
  var edited = false;

  window.onload = function() {
    var table = document.getElementById("cloudsTable");
    document.getElementById("saveButton").style.visibility = "hidden";
  }


  /*function addCloud() {
    var table = document.getElementById("cloudsTable");
    var newCloud = document.getElementById("newCloud").value;
    if (newCloud.trim() != '') {
      var rows = table.rows.length;
      var row = table.insertRow(rows-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      cell1.innerHTML = newCloud;
      cell2.innerHTML = '<button class="btn btn-danger" onclick="deleteRow(this)" style="width: 50px">X</button>';
    }
    document.getElementById("newCloud").value = "";

    if (checkList()) {
      document.getElementById("saveButton").style.visibility = "visible";
    } else {
      document.getElementById("saveButton").style.visibility = "hidden";
    }
  }*/

  function addCloud() {
    var table = document.getElementById("cloudsTable");
    var newCloud = document.getElementById("newCloud").value;

    var submitObject = {"name": newCloud};
    var body = JSON.stringify(submitObject);

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.ajax({
      type: "POST",
        headers: {"Content-Type": "application/json"},
          url: $SCRIPT_ROOT + "/add_cloud",
          data: body,
          success: function(response) {
              var cloudList = JSON.parse(response);

              var table = document.getElementById("cloudsTable");
              while (table.rows.length > 2) {
                table.deleteRow(1);
              }

              for (var i = 0; i < cloudList.length; i++) {
                var row = table.insertRow(table.rows.length-1);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                cell1.innerHTML = cloudList[i].name;
                cell2.innerHTML = '<button class="btn btn-danger" onclick="deleteCloud(' + cloudList[i].id + ', \'' + cloudList[i].name + '\')" style="width: 100px">Delete</button>'; 
              }
            },
            error: function(response, error) {
                console.log(response);
                console.log(error);
                alert("An error occurred while the query was running. Please, contact the developers.");
              }
          });
    document.getElementById("newCloud").value = "";
  }

  function checkList() {
    var list = [];
    var table = document.getElementById("cloudsTable");
    var clouds = null;
    try {
      clouds = JSON.parse('{{ cloudsJSON | safe }}');
    } catch (err) {} 
    for (i = 1; i < table.rows.length-1; i++) {
      var flag = false;
      for (j = 0; j < clouds.length; j++) {
        if (table.rows[i].cells[0].innerHTML == clouds[j].name) {
          flag = true;
        }
      }
      if (!flag) {
        list.push(table.rows[i].cells[0].innerHTML);
      }
    }

    if (list.length > 0) {
      return true;
    } else {
      return false;
    }
  }

  function saveClouds() {
    var list = [];
    var table = document.getElementById("cloudsTable");
    var clouds = null;
    try {
      clouds = JSON.parse('{{ cloudsJSON | safe }}');
    } catch (err) {} 
    for (i = 1; i < table.rows.length-1; i++) {
      var flag = false;
      for (j = 0; j < clouds.length; j++) {
        if (table.rows[i].cells[0].innerHTML == clouds[j].name) {
          flag = true;
        }
      }
      if (!flag) {
        list.push(table.rows[i].cells[0].innerHTML);
      }
    }

    
    var body = JSON.stringify(list);
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $.ajax({
      type: "POST",
        headers: {"Content-Type": "application/json"},
          url: $SCRIPT_ROOT + "/public_clouds",
          data: body,
          success: function(response) {
              window.location = "public_clouds";
            },
            error: function(response, error) {
                console.log(response);
                console.log(error);
              }
          });
    return false;
  }

  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("cloudsTable").deleteRow(i);

    if (checkList()) {
      document.getElementById("saveButton").style.visibility = "visible";
    } else {
      document.getElementById("saveButton").style.visibility = "hidden";
    }
  }

  /*function deleteCloud(id) {
    var clouds = JSON.parse('{{ cloudsJSON | safe }}');
    var usedCloudsJSON = {{ usedCloudsJSON | tojson | safe }};
    var usedClouds = JSON.parse(usedCloudsJSON);

    var cloudName = "";
    for (i = 0; i < clouds.length; i++) {
      if (clouds[i].id == id) {
        cloudName = clouds[i].name;
        break;
      }
    }

    cloud_customers = []; 

    for (var i = 0; i < usedClouds.length; i++) {
      for (var j = 0; j < usedClouds[i].clouds.length; j++) {
        if (usedClouds[i].clouds[j] == cloudName) {
          cloud_customers.push(usedClouds[i].name);
        }
      }
    }

    var confirmMessage = "Do you really want to delete public cloud \"" + cloudName + "\"?"
    if (cloud_customers.length > 0) {
      confirmMessage += "\n\nField \"" + cloudName + "\" will be removed from the list of used public clouds of the following customers:";
      for (var i = 0; i < cloud_customers.length; i++) {
        confirmMessage += "\n - " + cloud_customers[i];
      }
    }

    if (confirm(confirmMessage)) {
      var obj = {};
      var body = JSON.stringify(obj);
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/delete_cloud/" + id,
        data: body,
        success: function(response) {
          window.location.href = "/public_clouds";
        },
          error: function(response, error) {
            console.log(response);
              alert(JSON.parse(response.responseText).message);
          }
      });
      return false;
    }
  }*/

  function deleteCloud(id, cloudName) {
    var clouds = JSON.parse('{{ cloudsJSON | safe }}');
    var usedCloudsJSON = {{ usedCloudsJSON | tojson | safe }};
    var usedClouds = JSON.parse(usedCloudsJSON);

    /*var cloudName = "";
    for (i = 0; i < clouds.length; i++) {
      if (clouds[i].id == id) {
        cloudName = clouds[i].name;
        break;
      }
    }*/

    var cloud_customers = []; 

    for (var i = 0; i < usedClouds.length; i++) {
      for (var j = 0; j < usedClouds[i].clouds.length; j++) {
        if (usedClouds[i].clouds[j] == cloudName) {
          cloud_customers.push(usedClouds[i].name);
        }
      }
    }

    var confirmMessage = "Do you really want to delete public cloud \"" + cloudName + "\"?"
    if (cloud_customers.length > 0) {
      confirmMessage += "\n\nField \"" + cloudName + "\" will be removed from the list of used public clouds of the following customers:";
      for (var i = 0; i < cloud_customers.length; i++) {
        confirmMessage += "\n - " + cloud_customers[i];
      }
    }

    if (confirm(confirmMessage)) {
      var obj = {};
      var body = JSON.stringify(obj);
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.ajax({
        url: $SCRIPT_ROOT + "/delete_cloud/" + id,
        data: body,
        success: function(response) {
          var cloudList = JSON.parse(response);

              var table = document.getElementById("cloudsTable");
              while (table.rows.length > 2) {
                table.deleteRow(1);
              }

              for (var i = 0; i < cloudList.length; i++) {
                var row = table.insertRow(table.rows.length-1);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                cell1.innerHTML = cloudList[i].name;
                cell2.innerHTML = '<button class="btn btn-danger" onclick="deleteCloud(' + cloudList[i].id + ', \'' + cloudList[i].name + '\')" style="width: 100px">Delete</button>'; 
            }
        },
          error: function(response, error) {
            console.log(response);
            alert("An error occurred while the query was running. Please, contact the developers.");
          }
      });
      return false;
    }
  }
</script>
    <h1>Public clouds</h1>
    <hr>
    <a class="btn btn-violet btn-right" style="width: 200px" href="/settings">< Back</a>
    <hr>
    <table class="table table-striped" id="cloudsTable">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
      {% for cloud in clouds %}
      <tr>
        <td>{{ cloud.name }}</td>
        <td><button class="btn btn-danger" onclick="deleteCloud({{ cloud.id }} ',{{ cloud.name }}')" style="width: 100px">Delete</button></td>
      </tr>
      {% endfor %}
      <tr id="addRow">
        <td><input class="form-control" id="newCloud" type="text" style="width: 400px"></input></td>
        <td><button class="btn btn-add" onclick="addCloud()" style="width: 100px">Add</button></td>
        <td></td>
      </tr>
    </table>
    <div id="saveDiv" style="width: 90%; padding-bottom: 50px">
    <button id="saveButton" class="btn btn-violet pull-right" onclick="saveClouds()">Save</button>
    <hr>
    </div>
{% endblock %}