{% extends 'layout.html' %}

{% block body %}
<script type="text/javascript">
    function save() {
        if (document.getElementById("emailField").value != "" && document.getElementById("passwordField").value != "" && document.getElementById("confirmField").value != "") {
            if (document.getElementById("passwordField").value == document.getElementById("confirmField").value) {
                var obj = {
                    "email": document.getElementById("emailField").value,
                    "password": document.getElementById("passwordField").value
                };
                var body = JSON.stringify(obj);
              $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
              $.ajax({
                type: "POST",
                  headers: {"Content-Type": "application/json"},
                    url: $SCRIPT_ROOT + "/restore_password",
                    data: body,
                    success: function(response) {
                        alert("If a user with email \"" + obj.email + "\" exists, the email with a new password will be sent to this mailbox");
                        window.location.href = "/login";
                      },
                      error: function(response, error) {
                          console.log(response);
                          console.log(error);
                        }
                    });
            } else {
                alert("Passwords don't match!")
            }
        } else {
            alert("Not all fields are filled!")
        }
    }
</script>
    <h3>Restore Password</h3>
    <div class="input-group" style="margin-top: 20px;">
      <span class="input-group-addon" style="width: 150px">Email</span>
      <input id="emailField" type="text" class="form-control" aria-describedby="basic-addon1" style="width: 300px">
    </div>
    <div class="input-group" style="margin-top: 20px;">
      <span class="input-group-addon" style="width: 150px">New password</span>
      <input id="passwordField" type="password" class="form-control" aria-describedby="basic-addon1" style="width: 300px">
    </div>
    <div class="input-group" style="margin-top: 20px;">
      <span class="input-group-addon" style="width: 150px">Confirm password</span>
      <input id="confirmField" type="password" class="form-control" aria-describedby="basic-addon1" style="width: 300px">
    </div>
    <hr>
    <button id="saveButton" class="btn btn-violet" style="width: 75px; margin-top: 30px; margin-bottom: 50px" onclick="save()">Save</button>
{% endblock %}
