{% extends 'layout.html' %}

{% block body %}
<style>
    .btn-violet {
      width: 120px;
    }
    </style>
    <h1>Dictionaries</h1>
    <table class="table">
      <tr>
        <td><a class="btn btn-violet" href="/customers" style="width: 150px">Customers</a></td>
        <td>Manipulate with customer dictionary</td>
      </tr>
      <tr>
        <td><a class="btn btn-violet" href="/groups" style="width: 150px">Groups</a></td>
        <td>Manipulate with groups dictionary</td>
      </tr>
      <tr>
        <td><a class="btn btn-violet" href="/categories" style="width: 150px">Components</a></td>
        <td>Manipulate with categories of components dictionary</td>
      </tr>
      <tr>
        <td><a class="btn btn-violet" href="/components" style="width: 150px">Products</a></td>
        <td>Manipulate with components dictionary</td>
      </tr>
      <tr>
        <td><a class="btn btn-violet" href="/customer_sector" style="width: 150px">Customer sector</a></td>
        <td>Manipulate with Customers' sectors</td>
      </tr>
      <tr>
        <td><a class="btn btn-violet" href="/public_clouds" style="width: 150px">Public clouds</a></td>
        <td>Manipulate with Public Clouds</td>
      </tr>
      <tr>
        <td><a class="btn btn-violet" href="/project_types" style="width: 150px">Project types</a></td>
        <td>Manipulate with project types</td>
      </tr>
      {% if (role == "admin"): %}
      <tr>
        <td><a class="btn btn-violet" href="/users" style="width: 150px">Users</a></td>
        <td>Manipulate with users</td>
      </tr>
      {% endif %}
    </table>
{% endblock %}
